@import "custom_colors";

.navbar-logged {
    .navbar-menu {
      background-color: $custom-purple;
    }
}

nav.navbar {
  height: 70px;
  //border-bottom: 0px solid black;

  .navbar-brand {
    img {
      height: 60px;
      margin:5px;
    }
    .navbar-menu {
      padding-top: 0px;
    }
  }
}